---
import Layout from '../../../../layout/Layout.astro';
---

<Layout>
  <form action="">
    <label for="input1">Click on me</label>
    <input type="text" id="input1" />
    <p>Or you can wrap the input inside the label</p>
    <label for="input2">
      I like Ado
      <input type="checkbox" id="input2" />
    </label>
    <p>Just make sure that id is unique.</p>
  </form>
</Layout>
