@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.blinkingCursorDisappearing {
  display: inline-block;
  position: relative;
  &::after {
    content: '|';
    position: absolute;
    height: 100%;
    width: 100%;
    color: #f7f7f7;
    font-size: 18px;
    top: 0;
    left: 20px;
    animation: blink 0.4s linear infinite alternate;
  }
}

.blinkingCursorAppearing {
  display: inline-block;
  position: relative;
  &::after {
    content: '|';
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #f7f7f7;
    top: 0;
    left: 10px;
    animation: blink 0.4s linear infinite alternate;
  }
}

.blinkingCursorEmptyCode {
  display: inline-block;
  position: relative;
  &::after {
    content: '|';
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #f7f7f7;
    top: 0;
    left: 0;
    animation: blink 0.4s linear infinite alternate;
  }
}

@keyframes initialTextBackground {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animateInitialText {
  animation: initialTextBackground 1s cubic-bezier(0.5, 0, 0.75, 0) forwards;
}

@media (min-width: 1024px) {
  .blinkingCursorEmptyCode {
    &::after {
      font-size: 22px;
    }
  }

  .blinkingCursorAppearing {
    &::after {
      font-size: 22px;
    }
  }
  .blinkingCursorDisappearing {
    &::after {
      font-size: 22px;
    }
  }
}
