---
const dark = Astro.url.searchParams.get("dark");
---

<html class={dark ? "dark" : ""}>
  <body class={"bg-transparent dark:text-background-light-gray text-primary-dark-gray"}>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
      >Comeon it's not a sus page</a
    >
  </body>
</html>

<style>
  @tailwind utilities;
</style>
