.play_bar {
  border-top: 4px solid #ae8fdb;
  animation: play-extend 20s linear forwards;
}

@keyframes play-extend {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.play_dot {
  animation: play-move 20s linear forwards;
}

@keyframes play-move {
  from {
    transform: none;
  }
  to {
    transform: translateX(275px);
  }
}

.highlight_word {
  position: relative;
  z-index: 1;
  border-color: rgb(255, 255, 67);
  border-bottom-width: 8px;
}

.highlight_word::before {
  position: absolute;
  content: attr(data-text);

  top: -px;
  right: 0;
  background-color: #f7f7f7;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: highlight 1.5s ease-out forwards;
}

.highlight_word_2 {
  background-color: #6fdcbf;
  position: relative;
  z-index: 1;
  /* margin: -2px -6px;
  padding: 0px 0px; */
}

.highlight_word_2::before {
  position: absolute;
  content: attr(data-text);
  z-index: 2;
  top: -px;
  right: -1px;
  /* padding: 0px 5px 5px 0px; */
  background-color: #f7f7f7;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: highlight 1.5s ease-out forwards;
}

@keyframes highlight {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.karaoke_text {
  color: #55af96;
  animation: run-text 3s linear forwards;
  white-space: nowrap;
  overflow: hidden;
}

.karaoke_text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: -2px;
}

@keyframes run-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
