---
const dark = Astro.url.searchParams.get("dark");
---

<html class={dark ? "dark" : ""}>
  <body class={"bg-transparent dark:text-background-light-gray text-primary-dark-gray"}>
    <form action="">
      Date Picker
      <input type="date" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
    </form>  
  </body>
</html>

<style>
  @tailwind utilities;
</style>
