---
const dark = Astro.url.searchParams.get("dark");
---

<html class={dark ? "dark" : ""}>
  <body class={"bg-transparent dark:text-background-light-gray text-primary-dark-gray"}>
    <div>
      <h1>My Bio</h1>
      <img width="300" height="300" src="https://cdn.sanity.io/images/ywfq98mg/production/31ae328da1c73c7a2ba4118d4358ece3dd1a5dbb-500x500.jpg" />
      <br />
      <p>I like anime, music and <del>girls</del> <i>art</i></p>
      <div>
        <span>This is my <a href="https://blog.partialty.com" target="_blank">blog</a>.</span>
      </div>
      <hr />
      <span>Feel free to hire me. I need money asap.</span>
    </div>
  </body>
</html>

<style>
  @tailwind utilities;
</style>
