---
const dark = Astro.url.searchParams.get("dark");
---

<html class={dark ? "dark" : ""}>
  <body class={"bg-transparent dark:text-background-light-gray text-primary-dark-gray"}>
    <form action="">
      Text
      <input type="text" />
      <br />
      Email
      <input type="email" />
      <br />
      Password
      <input type="password" />
    </form>    
  </body>
</html>

<style>
  @tailwind utilities;
</style>
